:root {
  --teal: #178b8e;
  --bg-books-1: url("123_1 2.JPEG");
  --bg-books-2: url("123_1.JPEG");
  --cream: #fff4e9;
  --maroon: rgb(117, 35, 15);
  --grey: rgb(124, 124, 124);
  --mint-cream: #eefcf4;
  --electric-green: #73e2a7;
  --purple: #6633ff;
  --thistle-cool: #dccfec;
}
@font-face {
  font-family: "AD";
  src: url("Architects_Daughter/ArchitectsDaughter-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comic";
  src: url("Comic_Neue/ComicNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Stint";
  src: url("Stint_Ultra_Expanded/StintUltraExpanded-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Whisper";
  src: url("Whisper/Whisper-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.stint {
  font-family: "Stint";
}
html {
  background-color: transparent;
}
body {
  background-color: var(--teal);
  overflow-x: hidden;
}
p {
  font-family: "Comic";
  font-size: 1.1rem;
}
.navbar {
  width: 100vw;
  height: 10vh;
  background-color: white;
  border-radius: 15px;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 7px solid;
  border-bottom: 7px solid;
  border-color: black;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.navbar-brand {
  font-family: "Stint";
  font-size: 1.25rem;
  font-weight: 900;
}
.nav-link {
  color: black;
}
.masthead {
  height: 20rem;
  width: 90%;
  background-image: var(--bg-books-1);
  background-size: cover;
  background-position: 25%;
  border-radius: 15px;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 7px solid;
  border-bottom: 7px solid;
  border-color: black;
  margin-bottom: 12rem;
}
.masthead h1 {
  font-family: "Whisper";
  font-size: 3rem;
  font-weight: 600;
  color: black;
  margin: 0rem;
  padding: 0rem;
}
.masthead h2 {
  color: black;
  font-size: 1.25rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}
.header {
  background-color: white;
  width: 80vw;
  height: 15rem;
  position: absolute;
  bottom: 12%;
  left: 13%;
  border-radius: 15px;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 7px solid;
  border-bottom: 7px solid;
  border-color: black;
}
.section-heading {
  font-family: "AD";
  color: black;
  background-color: white;
  border-radius: 15px;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 7px solid;
  border-bottom: 7px solid;
  border-color: black;
}
.card {
  border-radius: 15px;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 7px solid;
  border-bottom: 7px solid;
  border-color: black;
}
.gallery .card {
  border-radius: 15px;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 7px solid;
  border-bottom: 7px solid;
  border-color: black;
  margin-bottom: 02em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0;
  min-width: 18rem;
  max-width: 18rem;
  height: 20rem;
  -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.card-top {
  height: 100%;
  font-variant: small-caps;
  padding: 30% 20%;
  border-radius: 5px;
}
.card-top h1 {
  font-size: 2rem;
  font-weight: 300;
}
.current {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.card-icon {
  margin-left: 46%;
  margin-right: 54%;
  margin-top: 6%;
  margin-bottom: 6%;
}
#maiden {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    187deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
#vincent {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    187deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
#wayward {
  background-image: url("WaywardWar1.jpg");
  background-size: cover;
  background-position: center;
}
#rozray {
  background-image: url("RR3.webp");
  background-size: cover;
  background-position: center;
}
#riddle {
  background-image: url("Riddle2.jpg");
  background-size: cover;
  background-position: center;
}
#polaroid {
  background-image: url("Polaroid1.jpg");
  background-size: cover;
  background-position: center;
}
#headshot {
  background-color: var(--thistle-cool);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("headshot.png");
  width: 12rem;
  height: 15rem;
  margin-left: 0;
  margin-right: 2rem;
  border-radius: 50%;
}
.gallery {
  width: 70%;
}
#content-title {
  position: absolute;
  left: 20%;
}
.testimonial-section {
  background-color: var(--thistle-cool);
  border-top: 4px solid;
  border-left: 7px solid;
  border-right: 7px solid;
  border-bottom: 4px solid;
  border-color: black;
  width: 100dvw;
  margin: 0;
  padding: 3rem 0rem;
}
.testimonial-section .card {
  margin: 0rem 2rem;
}

.cardquote {
  font-size: 1.2em;
  font-family: "Comic";
  color: #2a2a2a;
  line-height: 1.6;
  position: relative;
  padding: 1.2em 1em 1.2em 50px;
}

.cardquote ::before {
  content: "\201C";
  color: var(--purple);
  font-family: Helvetica;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
  text-shadow: 3px 2px 1px rgb(187, 184, 184);
}

.cardquote ::after {
  content: "";
}
#about {
  width: 100dvw;
  background-color: var(--mint-cream);
  border-top: 0px solid;
  border-left: 7px solid;
  border-right: 7px solid;
  border-bottom: 0px solid;
  border-color: black;
}
#about p {
  color: black;
}
#contact-section {
  width: 100dvw;
  border-top: 1px solid;
  border-left: 7px solid;
  border-right: 7px solid;
  border-bottom: 10px solid;
  border-color: black;

  background-color: white;
}
#contact-card {
  padding: 0rem 2rem;
  background-color: var(--mint-cream);
}

#contact-card h1,
p {
  color: black;
}
#contact-section svg {
  width: 50%;
  height: 50%;
}
/* Desktop */
@media (min-width: 992px) {
  .navbar {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  .masthead {
    height: 60vh;
    width: 80vw;
    background-image: var(--bg-books-1);
    background-size: cover;
    background-position: 25%;
    margin-bottom: 13rem;
  }

  .header {
    width: 70vw;
    height: 27vh;
    bottom: 7%;
    left: 16%;
  }
  .masthead h1 {
    font-size: 3.25rem;
    font-weight: 600;
  }
  .masthead h2 {
    font-size: 1.5rem;
  }
  .cardquote {
    padding: 1.2em 30px 1.2em 50px;
  }
}
